<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimensoft.core.mapper.KRepositoryTypeMapper" >
  <resultMap id="BaseResultMap" type="com.dimensoft.core.model.KRepositoryType" >
    <id column="repository_type_id" property="repositoryTypeId" jdbcType="INTEGER" />
    <result column="repository_type_code" property="repositoryTypeCode" jdbcType="VARCHAR" />
    <result column="repository_type_des" property="repositoryTypeDes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    repository_type_id, repository_type_code, repository_type_des
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dimensoft.core.model.KRepositoryTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from k_repository_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from k_repository_type
    where repository_type_id = #{repositoryTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from k_repository_type
    where repository_type_id = #{repositoryTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dimensoft.core.model.KRepositoryTypeExample" >
    delete from k_repository_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dimensoft.core.model.KRepositoryType" >
    insert into k_repository_type (repository_type_id, repository_type_code, 
      repository_type_des)
    values (#{repositoryTypeId,jdbcType=INTEGER}, #{repositoryTypeCode,jdbcType=VARCHAR}, 
      #{repositoryTypeDes,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dimensoft.core.model.KRepositoryType" >
    insert into k_repository_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="repositoryTypeId != null" >
        repository_type_id,
      </if>
      <if test="repositoryTypeCode != null" >
        repository_type_code,
      </if>
      <if test="repositoryTypeDes != null" >
        repository_type_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="repositoryTypeId != null" >
        #{repositoryTypeId,jdbcType=INTEGER},
      </if>
      <if test="repositoryTypeCode != null" >
        #{repositoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="repositoryTypeDes != null" >
        #{repositoryTypeDes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dimensoft.core.model.KRepositoryTypeExample" resultType="java.lang.Integer" >
    select count(*) from k_repository_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update k_repository_type
    <set >
      <if test="record.repositoryTypeId != null" >
        repository_type_id = #{record.repositoryTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.repositoryTypeCode != null" >
        repository_type_code = #{record.repositoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.repositoryTypeDes != null" >
        repository_type_des = #{record.repositoryTypeDes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update k_repository_type
    set repository_type_id = #{record.repositoryTypeId,jdbcType=INTEGER},
      repository_type_code = #{record.repositoryTypeCode,jdbcType=VARCHAR},
      repository_type_des = #{record.repositoryTypeDes,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dimensoft.core.model.KRepositoryType" >
    update k_repository_type
    <set >
      <if test="repositoryTypeCode != null" >
        repository_type_code = #{repositoryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="repositoryTypeDes != null" >
        repository_type_des = #{repositoryTypeDes,jdbcType=VARCHAR},
      </if>
    </set>
    where repository_type_id = #{repositoryTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dimensoft.core.model.KRepositoryType" >
    update k_repository_type
    set repository_type_code = #{repositoryTypeCode,jdbcType=VARCHAR},
      repository_type_des = #{repositoryTypeDes,jdbcType=VARCHAR}
    where repository_type_id = #{repositoryTypeId,jdbcType=INTEGER}
  </update>
</mapper>